:root {
  --light-blue-branding: #C5DFF8;
  --med-blue-branding: #a6bae0;
  --dark-blue-branding: #2A2547;
  --pink-branding: #EC9292;
}

* {
  scroll-behavior: smooth;
}

#apply-background {
  position: fixed;
  z-index: -1000;
  width: 100%;
  height: 100%;

  background: var(--light-blue-branding);
}

#apply-form {
  display: grid;
  margin: auto;
  color: var(--dark-blue-branding);
  width: 70%;
  grid-template: 1fr / 1fr;
}

.apply-question-card {
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
}

.apply-question-card div:first-child {
  width: 100%;
}

.apply-question {
  display: block;
  margin-bottom: 1em;
  font-weight: 600;
  font-size: 1.4em;
}

.apply-text-input {
  all: unset;
  margin-bottom: 1em;
  width: 100%;
  font-size: 1.5em;
  border-bottom: 3px solid var(--dark-blue-branding);
}

.apply-radio {
  display: flex;
  align-items: center;
  background: var(--med-blue-branding);
  margin: 0.55em auto;
  padding: 5px 10px;
  border-radius: 4px;
}

.apply-radio input[type="radio"] {
  appearance: none;
  width: 1.4em;
  height: 1.4em;
  border: 2px solid var(--light-blue-branding);
  border-radius: 3px;

  display: grid;
  place-content: center;
}

.apply-radio input[type="radio"]:checked {
  background-color: var(--light-blue-branding);
}

.apply-radio input[type="radio"]:focus-visible {
  outline: unset;
  border: 2px solid var(--pink-branding);
}

.apply-radio label {
  margin-left: 10px;
  font-size: 1.4em;
}

.apply-dropdown {
  display: block;
  width: 100%;
  color: var(--dark-blue-branding);
  background: var(--med-blue-branding);
  font-size: 1.4em;
  margin: 0.55em auto;
  padding: 10px 10px;
  border: unset;
  border-radius: 4px;
}

.apply-dropdown:after {
  content: "";
  position: absolute;
  color: #EC9292;
  right: 200px;
}

.apply-dropdown:focus {
  outline: 2px solid var(--pink-branding);
}

.apply-button {
  color: var(--light-blue-branding);
  background-color: var(--pink-branding);
  float: left;
  margin-bottom: 1.5em;
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.1em;
  width: 4.5em;
  border-radius: 4px;
}

.apply-button:last-child {
  float: right;
}

