.FaqManager {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    width: 100%;

    // TODO: 1600px should be a variable consistent with other home page sections
    max-width: 1600px;

    // TODO: 2rem should be a variable consistent with other home page sections
    padding: 0 calc(5% + 2rem);
    
    // TODO: mobile resolution should be a variable
    @media (max-width: 1000px) {
        grid-template-columns: 1fr;
    }
}
