.mountain-big {
    position: absolute;
    top: 15vw;
    width: 60vw;
}

.mountain-small {
    position: absolute;
    left: 10vw;
    top: 35vw;
}

.land { 
    position: absolute;
}

.carleton {
    top: -35vw;
}

.snow {
    scale: 3;
}