// // CSS cannot transition on fit-content or auto. Therefore fix heights are being used.
$closedHeight: 3.5rem;
$openHeight: 10.5rem;

.FaqAccordion {
    padding: 0.75rem 2rem;
    border-radius: 1.5rem;
    background-color: rgba(254, 160, 123, 0.5);
    transition: height 0.3s ease-in-out;
    min-height: $closedHeight;
    transition: height 0.3s ease-in-out;
    cursor: pointer;
    overflow-y: hidden;

    &__head {
        display: flex;
        align-items: center;
        gap: 0.25rem;
        // TODO: should be a var - "Old Logo Background" in figma
        color: hsl(248.82deg 31.48% 21.18%);
    }

    &__button {
        display: flex;
        min-width: 1.3rem;
        align-items: center;
        font-size: 1.3rem;
        font-weight: 700;
        transition: all 0.1s ease-in-out;
    }

    &__question {
        font-size: 1.1rem;
        font-weight: 600;
        width: 100%;
        transition: all 0.1s ease-in-out;
        text-overflow: ellipsis;
        text-wrap: nowrap;
    }

    &__answer {
        margin-top: 0.5rem;
        animation: fadeIn 0.3s ease-in-out;
        color: hsl(0, 0%, 20%);
    }

    &--open {
        height: $openHeight;
    }

    &--closed {
        height: $closedHeight;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
